.login-main {
   display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 250px;
    margin: 0 auto;
    text-align: center;
    flex-direction: column;
}
.logo-login {
    height: 55px;
    margin-bottom: 20px;
}